* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
   }

li {
    list-style: none;
   }
.topimg {
    background-color: #1f2937;
   }
.img{
    display:flex;
    padding: 14px 240px;
    color:white
}
.introimage{
    height: 300px;
    width:400px;
}
.top {
    display: flex;

    padding: 14px 240px 75px;
    font-size:36px;
}
.logo {
    color: white;
    text-align: center;
    font-size:36px;
}
.menu {
    
    display: flex;
    flex:1;
    justify-content: flex-end;
}
.menu a {

    color: #f2f2f2;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size:24px;
}
h2 {
    font-size: 60px;
}
.para {
    font-size: 42px;;
}
.intro { 
padding: 30px 30px 50px 0px;
}
.button {
    background-color: #3882f6;
    border:none;
    color:white;
    border-radius: 25px;
    padding: 15px 32px;
    font-size: 24px;
    margin: 20px;
}
.first {
    padding: 14px 240px;
}
#second-intro {
    font-size: 32px;
    text-align: center;
}
.imgroup {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.icons {
    border:5px solid #3882f6;
    padding: 14px 24px; 
    border-radius: 8px;
}
.second {
    background-color: #e5e7eb;
    padding: 90px 280px;
}
.inspquote {
    font-size: 36px;
}
.cta {
    background-color: #3882f6;
    margin: 5%;
    padding: 100px 650px;
}
.quote-by{
    float:right;
    font-size:28px;
}
.button-wrapper {
    display: block;
    text-align: center;
    border: 2px;
    border-radius: 2em;
    border-color:#e5e7eb;
    background-color: #3882f6;
}
.button-text {
    color:white;
    font-size: 22px;
}