* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
   }

li {
    list-style: none;
   }
.topimg {
    background-color: #1f2937;
   }
.img{
    display:flex;
    padding: 14px 240px;
    color:white
}
.introimage{
    height: 300px;
    width:400px;
}
.top {
    display: flex;

    padding: 14px 240px 75px;
    font-size:36px;
}
.logo {
    color: white;
    text-align: center;
    font-size:36px;
}
.menu {
    
    display: flex;
    flex:1;
    justify-content: flex-end;
}
.menu a {

    color: #f2f2f2;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size:24px;
}
h2 {
    font-size: 60px;
}
p{
    font-size: 42px;;
}
.intro { 
padding: 30px 30px 50px 0px;
}
.button {
    background-color: #3882f6;
    border:none;
    color:white;
    border-radius: 25px;
    padding: 15px 32px;
    font-size: 24px;
    margin: 20px;
}